@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .h-full-content {
    height: calc(100% - 3rem);
  }
  .min-h-full-content {
    minheight: calc(100% - 3rem);
  }
  .grid-rows-content {
    grid-template-rows: 8rem auto;
  }
}

.content {
  min-height: calc(100vh - 4.5rem);
}
